@import '../../styles/variables.scss';

.movie {
    width: 250px;
    height: 300px;
    margin: 20px;
    position: relative;
    transition: all 0.5s ease;

    &:hover {
        transform: scale(1.1);

        .movie-details {
            display: flex;
        }
    }

    &-poster {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &-details {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: none;
        background-color: #000000bd;
        color: $color-white;
        justify-content: flex-end;
        flex-direction: column;
        padding: 10px;

        &-title {
            font-size: $font-size-medium;
            font-weight: $font-weight-heaviest;
        }

        &-year {
            font-size: $font-size-smallest;
            padding-bottom: 5px;
        }

        &-cast {
            font-size: $font-size-smallest;
            padding-bottom: 10px;
        }


    }
}